footer {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px;
    background-color: #4A4FC4;
    color: white;
    height: 100%;
    font-size: 1.1rem;
}